html, body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:left;
}

table { border:0; padding:0; width:100%; }

.fontArial { size:2; color:#000000; face:Arial; }

.error { color: #ff0000; }

.errorblock { 
                color: #000;
                background-color: #ffEEEE;
                border: 3px solid #ff0000;
                padding:8px;
                margin:16px;
            }

.mTexte { font-weight:bold; }

.tTexte { font-weight:bold; }

.stTexte { font-weight:bold; }

.nTexte { text-align:justify; }

.n2Texte { text-align:justify; }

.n3Texte { font-size:11px; text-align:justify; }

.orangeBorder {
    border-style:solid;
    border-color:#FF6600;
    border-width:1px;
}
.orangeRightBorder {
    border-right-style:solid;
    border-right-color:#FF6600;
    border-right-width:1px;
}

.rougeBorder {
    border-style:solid;
    border-color:#CC0000;
    border-width:1px;
}

.grisBorder {
    border-style:solid;
    border-color:#CCCCCC;
    border-width:1px;
}